* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#boxPage{
    width: 100vw;
    height: 100%;
    background-color: cadetblue;
}

#box1 {
    width: 250px;
    height: 250px;
    background-color: chocolate;
}

#box2 {
    width: 250px;
    height: 250px;
    background-color: crimson;
}

#textPage{
    height: 100%;
    width: 100vw;
    background-color:lightgreen;
    padding: 80px 40px;
}

