body{
    background-color: black;
}


#string{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

#cursor{
    width: 20px;
    height: 20px;
    background-color: #eedf10;
    border-radius: 50%;
    position: fixed;
}
